extends layout.pug

block footer
    .navbar.footer
        div 
        p GoodFilms™
        div.names
        p Created By: 
        a(href="https://github.com/kevin-tran12")
            p Kevin Tran, 
        a(href="https://github.com/ethan-kaseff")
            p Ethan Kaseff, 
        a(href="https://github.com/ahans1607")
            p Ananya Hans, 
        a(href="https://github.com/johnshivers3")
            p John Shivers 