extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div
    h1 Documentary
      div(class="docu")
        div(class='asd')
          h2 Free Solo
          a(href="movies/20")
            img(src="/Images/freeSolo.jpg" alt="Free Solo" class="freeSolo")
        div(class='asd')
          h2 Icarus
          a(href="movies/19")
            img(src="/Images/icarus.jpg" alt="ICARUS" class="icarus")
        div(class='asd')
          h2 Last Dance
          a(href="movies/17")
            img(src="/Images/lastDance.jpg" alt="Last Dance" class="lastDance")
        div(class='asd')
          h2 My Octopus Teacher
          a(href="movies/16")
            img(src="/Images/myOctopusTeacher.jpg" alt="My Octopus Teacher" class="myOT")
        div(class='asd')
          h2 The Social Dilemma
          a(href="movies/18")
            img(src="/Images/theSocialDilemma.jpg" alt="The Social Dilemma" class="tSD")
    h1 Horror
      div(class="horror")
        div(class='asd')
          h2 Alien
          a(href="movies/11")
            img(src="/Images/alien_.jpg" alt="Alien" class="alien")
        div(class='asd')
          h2 Apartment 143
          a(href="movies/14")
            img(src="/Images/apartment143.jpg" alt="Apartment 143" class="a143")
        div(class='asd')
          h2 It
          a(href="movies/13")
            img(src="/Images/it.jpg" alt="It" class="it")
        div(class='asd')
          h2 Sinister
          a(href="movies/15")
            img(src="/Images/sinister.jpg" alt="Sinister" class="sinister")
        div(class='asd')
          h2 The Conjuring
          a(href="movies/12")
            img(src="/Images/conjuring.jpg" alt="The Conjuring" class="conjur")
    h1 Action
      div(class="action")
        div(class='asd')
          h2 Blade
          a(href="movies/2")
            img(src="/Images/Blade.jpg" alt="Blade" class="blade")
        div(class='asd')
          h2 Constantine
          a(href="movies/1")
            img(src="/Images/Constantine.jpg" alt="Constantine" class="const")
        div(class='asd')
          h2 Hannibal Rising
          a(href="movies/3")
            img(src="/Images/HannibalRising.jpg" alt="Hannibal Rising" class="hanibal")
        div(class='asd')
          h2 Se7en
          a(href="movies/4")
            img(src="/Images/Se7en.jpg" alt="Se7en" class="seven")
        div(class='asd')
          h2 Mortal Kombat
          a(href="movies/5")
            img(src="/Images/MortalKombat.jpg" alt="MortalKombat" class="MK")
    h1 Comedy
      div(class="comedy")
        div(class='asd')
          h2 Home Alone
          a(href="movies/6")
            img(src="/Images/HomeAlone.jpg" alt="Home Alone" class="homelone")
        div(class='asd')
          h2 Bruce Almighty
          a(href="movies/7")
            img(src="/Images/BruceAlmighty.jpg" alt="Bruce Almighty" class="Bruce")
        div(class='asd')
          h2 Rush Hour 2
          a(href="movies/8")
            img(src="/Images/RushHour2.jpg" alt="Rush Hour 2" class="rh2")
        div(class='asd')
          h2 Ted
          a(href="movies/9")
            img(src="/Images/Ted.jpg" alt="Ted" class="ted")
        div(class='asd')
          h2 Space Balls
          a(href="movies/10")
            img(src="/Images/SpaceBalls.jpg" alt="Space Balls" class="spaceBalls")
  .navbar.footer
    div 
      p GoodFilms™
    div.names
      p Created By: 
      a(href="https://github.com/kevin-tran12")
        p Kevin Tran, 
      a(href="https://github.com/ethan-kaseff")
        p Ethan Kaseff, 
      a(href="https://github.com/ahans1607")
        p Ananya Hans, 
      a(href="https://github.com/johnshivers3")
        p John Shivers 
