extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div
    h1 Documentary
      div(class="docu")
        a(href="movies/20")
          img(src="/Images/freeSolo.jpg" alt="Free Solo" class="freeSolo")
        a(href="movies/19")
          img(src="/Images/icarus.jpg" alt="ICARUS" class="icarus")
        a(href="movies/17")
          img(src="/Images/lastDance.jpg" alt="Last Dance" class="lastDance")
        a(href="movies/16")
          img(src="/Images/myOctopusTeacher.jpg" alt="My Octopus Teacher" class="myOT")
        a(href="movies/18")
          img(src="/Images/theSocialDilemma.jpg" alt="The Social Dilemma" class="tSD")
    h1 Horror
      div(class="horror")
        a(href="movies/11")
          img(src="/Images/alien_.jpg" alt="Alien" class="alien")
        a(href="movies/14")
          img(src="/Images/apartment143.jpg" alt="Apartment 143" class="a143")
        a(href="movies/13")
          img(src="/Images/it.jpg" alt="It" class="it")
        a(href="movies/15")
          img(src="/Images/sinister.jpg" alt="Sinister" class="sinister")
        a(href="movies/12")
          img(src="/Images/conjuring.jpg" alt="The Conjuring" class="conjur")
    h1 Action
      div(class="action")
        a(href="movies/2")  
          img(src="/Images/Blade.jpg" alt="Blade" class="blade")
        a(href="movies/1")
          img(src="/Images/Constantine.jpg" alt="Constantine" class="const")
        a(href="movies/3")
          img(src="/Images/HannibalRising.jpg" alt="Hannibal Rising" class="hanibal")
        a(href="movies/4")
          img(src="/Images/Se7en.jpg" alt="Se7en" class="seven")
        a(href="movies/5")
          img(src="/Images/MortalKombat.jpg" alt="MortalKombat" class="MK")
    h1 Comedy 
      div(class="comedy")
        a(href="movies/6")
          img(src="/Images/HomeAlone.jpg" alt="Home Alone" class="homelone")
        a(href="movies/7")
          img(src="/Images/BruceAlmighty.jpg" alt="Bruce Almighty" class="Bruce")
        a(href="movies/8")
          img(src="/Images/RushHour2.jpg" alt="Rush Hour 2" class="rh2")
        a(href="movies/9")
          img(src="/Images/Ted.jpg" alt="Ted" class="ted")
        a(href="movies/10")
          img(src="/Images/SpaceBalls.jpg" alt="Space Balls" class="spaceBalls")
  
