doctype html
html
  head
    block head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Good Films - #{title}
  body
    nav
      a(href='/') Good Films
      button(type='button')
        span
      div(id='navbarText')
        ul
          //- Empty menu keeps the content that follows the
          //- unordered list correctly positioned on the
          //- right side of the navbar.
        if locals.authenticated
          span Welcome #{user.firstName}!
          form(action='/users/logout' method='post')
            button(type='submit') Logout
        else
          span
            a(href='/users/login') Login
            a(href='/users/register') Register
    div
      h2 #{title}
      block content