

include utils.pug
  +validationErrorSummary(errors)
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'emailAddress', emailAddress)
    +field('Password', 'password', null, 'password')
    div
      button(type='submit' class='btn btn-primary') Login
      block navbar 
  //-     a(href='/') Cancel
  //- div
  //-   p: a(href='/users/register') Don't have an account?