.body-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-form {
  border: 1px solid black;
  padding: 10px;
  padding-top: 15px;
  box-shadow: 4px 4px 3px 2px rgba(199, 109, 199, 0.575);
  border-radius: 10px;
  background-color:rgb(245, 232, 215);
}

h2 {
  text-align: center;
}

input {
  margin: 3px;
  font-size: large;
}

.button-div {
  margin: 3px;
  display: flex;
  justify-content: center;
}

button {
  margin: 2px;
  font-size: medium;
}

.triple-info-section {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-section {
  border: .5px solid lightcoral;
  padding: 4px;
  max-width: 31%;
}

h3 {
  text-align: center;
}

label {
  font-weight: bold;
  font-size: large;
}

.movieInfo {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media screen and (min-width: 900px) {
  .body-form {
    width: 585px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .body-form {
    width: 65%;
  }
}
.userAndDate {
  width: 30%;
  border-right: 1px solid black;
  padding-right: 10px ;
}

.reviewContent {
  width: 70%;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .body-form {
    width: 390px;
  }
  .movieInfo {
    flex-direction: column;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .userAndDate, 
  .reviewContent {
    width: 100%;
  }
  .userAndDate {
      border-bottom: 1px solid black;
      border-right: none;
    padding-bottom: 10px ;

  }
}

.info {
  margin-left: 15px;
}

textarea {
  width: 100%;
}

.create-review-box {
  width: 70%;
  margin-bottom: 20px;
  background-color: rgb(192, 152, 103);
  display: flex;
  flex-direction: column;
}

.review-area {
  background-color: rgb(192, 152, 103);
  padding: 5px;
  border-radius: 10px;
}

.center {
  align-self: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}