h1 {
  color: black;
}

.docu,
.horror,
.action,
.comedy {
  /* height: 200px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 35px;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  text-align: center;

}

.freeSolo,
.icarus,
.lastDance,
.myOT,
.tSD,
.alien,
.a143,
.it,
.sinister,
.conjur,
.blade,
.const,
.hanibal,
.seven,
.MK,
.homelone,
.Bruce,
.rh2,
.ted,
.spaceBalls {
  padding: 5px;
  /* width: 75px; */
  width: 80%;
  /* height: 125px; */
}

.freeSolo:hover,
.icarus:hover,
.lastDance:hover,
.myOT:hover,
.tSD:hover,
.alien:hover,
.a143:hover,
.it:hover,
.sinister:hover,
.conjur:hover,
.blade:hover,
.const:hover,
.hanibal:hover,
.seven:hover,
.MK:hover,
.homelone:hover,
.Bruce:hover,
.rh2:hover,
.ted:hover,
.spaceBalls:hover {
  /* width:125px;
    height:200px; */
  width: 100%;
  transition: 1;
  margin: 0;
  padding: 0;
}

.asd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

h2 {
  font-weight: bold;
  font-size: 14px;
}
