body { 
    background-color: rgb(192, 152, 103);
    font-family: monospace;
    
}

*:not(.logoImg){
    box-sizing: border-box;
}

.navbar {
    position: static;
    top: 0;
    width: 100%;
    left: 0;
    height: 100px;
    background-color:rgb(245, 232, 215);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.loginForm{
    padding: 15px;
    padding-right: 25px;
    flex-direction: column;
}

.form{
    align-content: space-between;
}

.logoImg{
    width: 150px;
    height: 50px;
    padding: 20px;
}

input{
    margin: 2px;
    border: 1px solid rgb(223, 177, 177);
    border-radius: 5px;
}

.loginBtn,
.registerBtn
{
    margin: 2px;
    background-color: black;
    color: white;
    font: 100 10px Arial;
    border: 1px solid black;
    border-radius: 2.5px;
}